@use "../../styles/variables" as *;

.myth-card{
    max-width: 20rem;
    height: 20rem;
    
    display: flex;

    &__side{
        padding: 0.75rem;

        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;

        background: rgba($colour-black, 0.9);

        &--greek-char{
            transform: rotateZ(-90deg);
            color: transparent;
            background-image: url("../../assets/images/terracotta.jpg");
            background-clip: text;
            
        }
    }

    &__main{
        padding: 0.5rem;
        background-image: url("../../assets/images/terracotta.jpg");
        border: 2px solid rgba($colour-black, 0.9);
        border-left: none;

        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: $colour-black;

        &::-webkit-scrollbar{
            width: 7.5px;
        }

        &::-webkit-scrollbar-thumb{
            background-color: $colour-black;
        }


        & * {
            color: rgba($colour-white, 0.95);
        }

        &--english{
            margin: 1rem 0;
            font-size: 1.75rem;
        }
    }
}