.myth{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
        margin: 1rem 0;
    }

    &__heading{
        &--name{
            max-width: 100vw;
            font-size: 3.25rem;
        }

        &--godof{
            margin-top: 1.5rem;
        }
    }

    &__title{
        margin: 0.5rem;
    }
}